@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Offside&display=swap');
html {
    scroll-behavior: smooth;
} 

:root {
    --red: #9e0101;
    --dark-red: #612626;
    --white: white;
  }

body {
    text-align: center;
    color: var(--white);
    background-color: black;
}
.logo {
    margin: 4rem;
    text-align: left;
    color:var(--red);
    font-size: 2.5rem;
    font-family: 'M PLUS Code Latin', sans-serif;
}
.main-text {
    width: 70%;
    font-size: 4rem;
    margin: 10rem auto 20rem auto ;
}

.card {
    color: var(--red);
    font-family: 'M PLUS Code Latin', sans-serif;
}

.quiz {
    background-color: var(--dark-red);
    padding: 3rem 1rem ;
    width: 70%;
    margin: 2rem auto 4rem auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.smooth-scroll-text{
    color: var(--red);
    margin-right:1rem ;
}

.smooth-scroll {
    background-color: none;
}

.card-link {
    text-decoration: none;
}

.smooth-scroll-text:hover {
    background-color: var(--red);
    color: var(--white);
    transition: 800ms;  
}
