@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Offside&display=swap');
  
body {  
    margin: 0px;
    padding: 0px;
    color: var(--white);
    background-color: var(--black);
    font-size: 16px;
    text-align: center;
}
.logo{
    padding: 2rem 0px 2rem 4rem;
}
:root {
    --red: #9e0101;
    --dark-red: #612626;
    --light-red : #c21c1c;
    --white: #ffffff;
    --black : #000000;
    --green : #08f100da;
    --wrong : #660066;
    --light-wrong : #9e449e;
  }
.logo   .logo-link{
    text-decoration: none;
    text-align: left;
    color:var(--red);
    font-size: 2.5rem;
    font-family: 'M PLUS Code Latin', sans-serif;
}

.quiz-container {
    padding: 0rem 1rem;
    font-family: 'M PLUS Code Latin', sans-serif;
    font-size: 3rem;
    width: 50%;
    margin:auto;
}

.quiz-ul {
    margin: 2.5rem auto;
    width: 75%;
}
.options {
    border-radius: 10px;
    text-align: center;
    list-style-type: none;
    font-size: 1.7rem;
    margin: 2rem auto;
    background-color: var(--wrong);
    color: var(--white);
    padding: 0.5rem;
    border: 3px solid var(--red);
}
#question {
    list-style-type: none;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.options:hover{
    color: var(--red);
    cursor: pointer;
}
#option-2 {
    background-color:  var(--green);
    color: var(--white);
}
#option-2:hover {
    background-color:  var(--green);
}


.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.next-link {
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    * {
      font-size: 12 px;
    }
    .quiz-li {
        font-size: 1.5rem;
        margin: 1rem 0px;
    }
  }